<form name="editForm" role="form" #editForm="ngForm">
<!--  <div class="px-3">-->
  <div class="main-body">
    <h3 class="font-bold my-4" style="padding-left: 15px;"><strong>New Clinic Registration Process</strong></h3>
    <div class="text-center">
        <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
        <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
    </div>

    <div *ngIf="clinicNamef.invalid && (clinicNamef.dirty || clinicNamef.touched)"
    class="alert alert-danger">
<!--      <div *ngIf="clinicNamef.errors.required">-->
<!--          Clinic Name is required.-->
<!--      </div>           -->
      <div *ngIf="clinicNamef.errors.pattern">
        Clinic Name cannot contain invalid characters.
      </div>
    </div>
<!--    <div *ngIf="branchNamef.invalid && (branchNamef.dirty || branchNamef.touched)"-->
<!--         class="alert alert-danger">-->
<!--&lt;!&ndash;      <div *ngIf="branchNamef.errors.required">&ndash;&gt;-->
<!--&lt;!&ndash;        Branch Name is required.&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--      <div *ngIf="branchNamef.errors.pattern">-->
<!--        Branch Name cannot contain invalid characters.-->
<!--      </div>-->
<!--    </div>-->
<!--    <div *ngIf="branchTelephonef.invalid && (branchTelephonef.dirty || branchTelephonef.touched)"-->
<!--         class="alert alert-danger">-->
<!--&lt;!&ndash;      <div *ngIf="branchTelephonef.errors.required">&ndash;&gt;-->
<!--&lt;!&ndash;        Branch Telephone No is required.&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--      <div *ngIf="branchTelephonef.errors.pattern">-->
<!--        Only numeric numbers are allowed for Branch Telephone No.-->
<!--      </div>-->
<!--      <div *ngIf="branchTelephonef.errors.minlength || branchTelephonef.errors.maxlength">-->
<!--        Branch Telephone No has a minlength of 8.-->
<!--      </div>-->
<!--    </div>-->
<!--    <div *ngIf="clinicAddrf.invalid && (clinicAddrf.dirty || clinicAddrf.touched)"-->
<!--         class="alert alert-danger">-->
<!--      <div *ngIf="clinicAddrf.errors.pattern">-->
<!--        Clinic Address cannot contain invalid characters.-->
<!--      </div>-->
<!--&lt;!&ndash;      <div *ngIf="clinicAddrf.errors.required">&ndash;&gt;-->
<!--&lt;!&ndash;        Clinic Address is required.&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--    </div>-->
<!--    <div *ngIf="pCodef.invalid && (pCodef.dirty || pCodef.touched)"-->
<!--         class="alert alert-danger">-->
<!--      <div *ngIf="pCodef.errors.pattern">-->
<!--        Only numeric numbers are allowed for Clinic Postal Code.-->
<!--      </div>-->
<!--      <div *ngIf="pCodef.errors.minlength || pCodef.errors.maxlength">-->
<!--        Clinic Postal Code is invalid.-->
<!--      </div>-->
<!--&lt;!&ndash;      <div *ngIf="pCodef.errors.required">&ndash;&gt;-->
<!--&lt;!&ndash;        Clinic Postal Code is required.&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--    </div>-->
    <div *ngIf="fname.invalid && (fname.dirty || fname.touched)"
    class="alert alert-danger">

    <div *ngIf="fname.errors.required">
        Full Name is required.
    </div>
    <div *ngIf="fname.errors.pattern">
        Full Name cannot contain invalid characters.
    </div>
    </div>
    <div *ngIf="contactNo.invalid && (contactNo.dirty || contactNo.touched)"
    class="alert alert-danger">
        <div *ngIf="contactNo.errors.required">
            Contact No is required.
        </div>
        <div *ngIf="contactNo.errors.pattern">
            Only numeric numbers are allowed for Contact No.
        </div>
        <div *ngIf="contactNo.errors.minlength || contactNo.errors.maxlength">
            Contact No has a minlength of 8.
        </div>
    </div>
    <div *ngIf="addr.invalid && (addr.dirty || addr.touched)"
            class="alert alert-danger">
        <div *ngIf="addr.errors.pattern">
            Address cannot contain invalid characters.
        </div>
    <div *ngIf="addr.errors.required">
            Address is required.
        </div>
    </div>
    <div *ngIf="postal.invalid && (postal.dirty || postal.touched)"
            class="alert alert-danger">
        <div *ngIf="postal.errors.pattern">
        Only numeric numbers are allowed for Postal Code.
        </div>
        <div *ngIf="postal.errors.minlength || postal.errors.maxlength">
            Postal Code is invalid.
        </div>
        <div *ngIf="postal.errors.required">
            Postal Code is required.
        </div>
    </div>
    <div *ngIf="email.invalid && (email.dirty || email.touched)"
            class="alert alert-danger">
        <div *ngIf="email.errors.pattern">
            Email cannot contain invalid characters.
        </div>
        <div *ngIf="email.errors.required">
            Email is required.
        </div>
    </div>
    <div *ngIf="password.invalid && (password.dirty || password.touched)"
    class="alert alert-danger">
        <div *ngIf="password.errors.required">
            Password is required.
        </div>
        <div *ngIf="password.errors.pattern">
            Password cannot contain invalid characters.
        </div>
        <div *ngIf="password.errors.minlength">
            Password has a minlength of 9.
        </div>
    </div>
    <div *ngIf="confirmpassword.invalid && (confirmpassword.dirty || confirmpassword.touched)"
    class="alert alert-danger">
        <div *ngIf="confirmpassword.errors.required">
            Confirm Password is required.
        </div>
        <div *ngIf="confirmpassword.errors.pattern">
            Confirm Password cannot contain invalid characters.
        </div>
        <div *ngIf="confirmpassword.errors.minlength">
            Confirm Password has a minlength of 9.
        </div>
    </div>

    <!-- <div *ngIf="clinicOpeningHours.invalid && (clinicOpeningHours.dirty || clinicOpeningHours.touched)" class="alert alert-danger">
        <div *ngIf="clinicOpeningHours.errors.required">
          clinic Opening Hours is required. gfdhfd
        </div>

    </div>  -->
    <!-- <div *ngIf="branchName.invalid && (branchName.dirty || branchName.touched)" class="alert alert-danger">
      <div *ngIf="branchName.errors.required">
        branchName is required. gfdhfd
      </div>
  </div> -->
  <!-- <div *ngIf="clinicOpeningHours.errors?.required" class="alert alert-danger">
      branchName is required. gfdhfd
  </div> -->
  <!-- <div *ngIf="clinicOpeningHours.controls[i].get('openingHourDayOfWeek').errors.required" class="alert alert-danger">
    opening day required fdefhe
  </div> -->


    <div class="form-group row">
      <div class="col-sm">
        <label for="clinicName"  class="col-sm-3 form-control-label" style="text-align: left">Clinic Name:* </label>
        <input type="text" class="col-sm-2 form-control-label" name="clinicName" id="clinicName" class="uppercase" pattern="^[a-zA-Z0-9-/ ]*$" minlength="1"  [(ngModel)]="clinicName" #clinicNamef = "ngModel"
               maxlength="66" autofocus autocomplete="off" required>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm">
        <label for="branchName" class="col-sm-3 form-control-label" style="text-align: left">Branch Name:* </label>
        <input type="text" class="col-sm-2 form-control-label" name="branchName" id="branchName" class="uppercase" pattern="^[a-zA-Z0-9-/ ]*$" minlength="1"  [(ngModel)]="branchName" #branchNamef = "ngModel"
               maxlength="66" autofocus autocomplete="off" required >&nbsp;&nbsp;
        <button type="button" name="addBranchButton" class="buttonLinks" (click)="addBranch()">Add Branch <fa-icon [icon]="faPlus" style="color: limegreen"></fa-icon></button>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm">
        <label for="branchTelephone" class="col-sm-3 form-control-label" style="text-align: left">Branch Telephone No.:* </label>
        <input type="text" class="col-sm-2 form-control-label" name="branchTelephone" id="branchTelephone" class="uppercase" pattern="^[0-9]*$" minlength="8"  [(ngModel)]="branchTelephone" #branchTelephonef = "ngModel"
               maxlength="8" autofocus autocomplete="off" required>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm">
        <label for="district" class="col-sm-3 form-control-label" >District:* </label>
          <select class="form-control-label" style="min-width: 150px; min-height: 30px;" [(ngModel)]="district" name="district" *ngIf="districtList">
            <option value="" disabled>Please select</option>
            <option [ngValue]="district.id" *ngFor="let district of districtList">{{district.value}}</option>
          </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm">
        <label for="pCode" class="col-sm-3 form-control-label" style="text-align: left">Postal Code:* </label>
        <input type="text" class="col-sm-2 form-control-label" name="pCode" id="pCode" class="uppercase" pattern="^[0-9]*$" minlength="6"  [(ngModel)]="pCode" #pCodef = "ngModel"
               maxlength="6" autofocus autocomplete="off">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm">
        <label for="clinicAddr" class="col-sm-3 form-control-label" style="text-align: left">Address:* </label>
        <input type="text" class="col-sm-2 form-control-label" name="clinicAddr" id="clinicAddr" class="uppercase" pattern="^[a-zA-Z0-9-/ #]*$" minlength="1"  [(ngModel)]="clinicAddr" #clinicAddrf = "ngModel"
               maxlength="99" autofocus autocomplete="off">
      </div>
    </div>
<!--    <div *ngIf="openHourError">-->
<!--      <span class="red-error">At least 1 contact person detail is required!</span>-->
<!--    </div>-->
    <div class="form-group row">
      <div class="col-sm">
        <label class="col-sm-3 form-control-label" style="text-align: left">Opening Hour:* </label>
        <select class="col-sm-2 form-control-label optionPlaceholder" id="day" name="day" style="min-width: 200px; min-height: 30px;" [(ngModel)]="day">
          <option value="" disabled>Please select</option>
          <option *ngFor="let day of dayOfWeek" [value]="day.id">{{day.value}}</option>
        </select>
        &nbsp;
        <select class="col-sm-2 form-control-label optionPlaceholder" id="start" name="start" style="min-width: 200px; min-height: 30px;" [(ngModel)]="start">
          <option value="" disabled>Please select</option>
          <option *ngFor="let start of startTime" value={{start}}>{{start}}</option>
        </select>
        &nbsp;
        <select class="col-sm-2 form-control-label optionPlaceholder" id="end" name="end" style="min-width: 200px; min-height: 30px;" [(ngModel)]="end">
          <option value="" disabled>Please select</option>
          <option *ngFor="let end of endTime" [value]="end">{{end}}</option>
        </select>
        <button class="btn-primary" style="height: 25px; width: 25px;background-color: transparent;border: transparent" (click)="addOpeningHour()"><fa-icon [icon]="faPlus" style="color: limegreen"></fa-icon></button>
      </div>
    </div>
      <div class="form-group row">
        <div class="col-sm">
          <div style="padding-left: 20px; padding-right: 20px; width:100%" align="center" *ngIf="openingHourList.length > 0">
            <table class="record" id="table" style="width: 100%;">
          <thead>
          <tr>
            <th>Day</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let openHours of openingHourList; trackBy: trackId;">
            <tr>           
              <td>{{dayOfWeekMap.get(openHours.dayOfWeek)}}</td>
              <td>{{ openHours.opens }}</td>
              <td>{{ openHours.closes }}</td>
              <td><button class="btn-primary" style="height: 25px; width: 25px;background-color: transparent;border: transparent" (click)="deleteOpeningHour(openHours)"><fa-icon [icon]="faMinus" style="color: red"></fa-icon></button></td>
            </tr>
          </ng-container>
          </tbody>
        </table>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm">
          <div style="padding-left: 20px; padding-right: 20px; width:100%" align="center" *ngIf="branchInfoList.length > 0">
            <table class="record" id="table" style="width: 100%;">
          <thead>
          <tr>
            <th>Branch Name</th>
            <th>Telephone No</th>
            <th>Postal Code</th>
            <th>Address</th>
            <th>Operating Hours</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let branchInfo of branchInfoList; trackBy: bTrackId;">
            <tr>             
              <td>{{ branchInfo.branchName }}</td>
              <td>{{ branchInfo.contactNo }}</td>
              <td>{{ branchInfo.postal }}</td>
              <td>{{ branchInfo.addr }}</td>
              <td>
                <ng-container *ngFor="let openHours of branchInfo.openingHours; trackBy: bTrackId;">
                  <pre>{{dayOfWeekMap.get(openHours.dayOfWeek)}} - {{openHours.opens}} - {{openHours.closes}}</pre>
                </ng-container>
              </td>
              <td><button class="btn-primary" style="height: 25px; width: 25px;background-color: transparent;border: transparent" (click)="deleteBranch(branchInfo)"><fa-icon [icon]="faMinus" style="color: red"></fa-icon></button></td>
            </tr>
          </ng-container>
          </tbody>
        </table>
          </div>
        </div>
      </div>

    <h3 class="font-bold my-4" style="padding-left: 15px;"><strong>New Clinic Registration Process(Staff Details)</strong></h3>
    <div class="form-group row">
      <div class="col-sm">
        <label for="name" class="col-sm-3 form-control-label" >Full Name:* </label>
        <input type="text" class="col-sm-3 form-control-label" name="name" id="name" class="uppercase" pattern="^[a-zA-Z0-9-/ ]*$" minlength="1"  [(ngModel)]="name"  #fname="ngModel"
               maxlength="66" autofocus autocomplete="off" required>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm">
        <label for="contactNo" class="col-sm-3 form-control-label" >Contact No:* </label>
        <input type="text" class="col-sm-3 form-control-label" name="contactNo" id="contactNo" class="uppercase" pattern="^[0-9]*$" minlength="8"  [(ngModel)]="contactNof" #contactNo="ngModel"
               maxlength="8" autofocus autocomplete="off" required>
      </div>
    </div>
    <div class="form-group row">

      <div class="col-sm">
        <label for="addr" class="col-sm-3 form-control-label" >Address:* </label>
        <input type="text" class="col-sm-3 form-control-label" name="addr" id="addr" class="uppercase" pattern="^[a-zA-Z0-9-/ #]*$" minlength="1"  [(ngModel)]="addrf"  #addr="ngModel"
               maxlength="99" autofocus autocomplete="off">
      </div>
    </div>
    <div class="form-group row">

      <div class="col-sm">
        <label for="postal" class="col-sm-3 form-control-label" >Postal Code:* </label>
        <input type="text" class="col-sm-3 form-control-label" name="postal" id="postal" class="uppercase" pattern="^[0-9]*$" minlength="6"  [(ngModel)]="postalf" #postal="ngModel"
               maxlength="6" autofocus autocomplete="off">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm">
        <label for="email" class="col-sm-3 form-control-label" >Email:* </label>
        <input type="text" class="col-sm-3 form-control-label" name="email" id="email" class="uppercase" pattern="^[a-zA-Z0-9-@.]*$" minlength="1"  [(ngModel)]="emailf"  #email="ngModel"
               maxlength="66" autofocus autocomplete="off" required>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm">
        <label for="occupation" class="col-sm-3 form-control-label" >Occupation:* </label>
<!--        <input type="text" class="col-sm-3 form-control-label" name="occupation" id="occupation" class="uppercase" pattern="^[a-zA-Z0-9-/]*$" minlength="1"  [(ngModel)]="occupation"-->
<!--               maxlength="99" autofocus autocomplete="off">-->
<!--        <div>-->
<!--          <small class="form-text text-muted">E.g. Doctor, Nurse etc</small>-->
<!--        </div>-->
        <select name="occupation" id="occupation" required [style.visibility]="'visible'" class="form-control-label" style="min-width: 200px; min-height: 30px;" [(ngModel)]="occupation">
          <option value="" disabled>Please select</option>
          <option [ngValue]="occupation.id" *ngFor="let occupation of occupationList">{{occupation.value}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm">
        <label for="password" class="col-sm-3 form-control-label" >Password:* </label>
        <input type="password" class="col-sm-3 form-control-label" name="password" id="password" class="uppercase" pattern="^[a-zA-Z0-9-/]*$" minlength="9"  [(ngModel)]="passwordf" #password="ngModel"
               maxlength="32" autofocus autocomplete="off" required>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm">
        <label for="confirmpassword" class="col-sm-3 form-control-label" >Confirm Password:* </label>
        <input type="password" class="col-sm-3 form-control-label"  name="confirmpassword" id="confirmpassword" class="uppercase" pattern="^[a-zA-Z0-9-/]*$" minlength="9"  [(ngModel)]="confirmPasswordf" #confirmpassword="ngModel"
               maxlength="32" autofocus autocomplete="off" required>
      </div>
    </div>

  <div class="col-md-12">
      <div><br></div>
      <button class="button-equeue col-sm-2 " type="button" name="cancelButton" (click)="onCancel()" replaceUrl="true">Cancel</button> &nbsp;
      <button class="button-equeue col-sm-2" type="button" name="clearButton" (click)="onClear()" replaceUrl="true">Clear</button> &nbsp;
      <button class="button-equeue col-sm-2" type="button" name="signUpButton" (click)="onSignUp(editForm)" replaceUrl="true">Register</button>
  </div>
  <br>
  <br>
  <div class="mt-3"></div>
  </div>
</form>


