<h2>Current Patient Queue</h2>
<button type="button" class="btn-primary refresh" style="min-width: 20px; min-height: 20px;" (click)="getBranchQueue()">Refresh</button>&nbsp;
<ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
<ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
<mat-accordion [multi]="true">
  <mat-expansion-panel [expanded]='true'>
    <mat-expansion-panel-header style="background-color: #416F97;">
      <mat-panel-title style="color: white;">
        Queue
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <br>
    <div>
      <div style="width:98%" align="center">
        <br>
        <table mat-table [dataSource]="dataSourceQueue" class="record" id="tableQueue" style="width: 100%;" >

          <!-- ID Column -->
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef style="text-align: center"> Queue No. </th>
            <td mat-cell *matCellDef="let rows">{{rows.queueNumber}} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="patientName">
            <th mat-header-cell *matHeaderCellDef style="text-align: center"> Patient Name </th>
            <td mat-cell *matCellDef="let rows">{{rows.customerName}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="mobile">
            <th mat-header-cell *matHeaderCellDef style="text-align: center"> Mobile </th>
            <td mat-cell *matCellDef="let rows">{{rows.customerContactNo}} </td>
          </ng-container>

          <!-- Color Column -->
          <ng-container matColumnDef="btnEdit">
            <th mat-header-cell *matHeaderCellDef style="text-align: center"> Action </th>
            <td mat-cell *matCellDef="let rows">
              <button type="button" class="btn-primary" (click)="consult(rows.branchId, rows.customerId, rows.status, rows.customerName)">Consult </button>&nbsp;
              <button type="button" class="btn-primary" (click)="missedQueue(rows.branchId, rows.customerId, rows.status, rows.customerName)">Missed Queue </button>&nbsp;
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedInfo"></tr>
          <tr mat-row *matRowDef="let rows; columns: displayedInfo;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]='true'>
    <mat-expansion-panel-header style="background-color: #416F97;">
      <mat-panel-title style="color: white;">
        Missed Queue
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <br>
    <div>
      <div style="width:98%" align="center">
        <br>
        <table mat-table [dataSource]="dataSourceMissedQueue" class="record" id="tableMissedQueue" style="width: 100%;">

          <!-- ID Column -->
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef style="text-align: center"> Queue No. </th>
            <td mat-cell *matCellDef="let rows">{{rows.queueNumber}} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="patientName">
            <th mat-header-cell *matHeaderCellDef style="text-align: center"> Patient Name </th>
            <td mat-cell *matCellDef="let rows">{{rows.customerName}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="mobile">
            <th mat-header-cell *matHeaderCellDef style="text-align: center"> Mobile </th>
            <td mat-cell *matCellDef="let rows">{{rows.customerContactNo}} </td>
          </ng-container>

          <!-- Color Column -->
          <ng-container matColumnDef="btnEdit">
            <th mat-header-cell *matHeaderCellDef style="text-align: center"> Action </th>
            <td mat-cell *matCellDef="let rows">
              <button type="button" class="btn-primary" (click)="rejoinQueue(rows.branchId, rows.customerId, rows.status, rows.customerName)">Rejoin Queue </button>&nbsp;
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedInfo"></tr>
          <tr mat-row *matRowDef="let rows; columns: displayedInfo;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]='true'>
    <mat-expansion-panel-header style="background-color: #416F97;">
      <mat-panel-title style="color: white;">
        Consultation Room
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <br>
    <div>
      <div style="width:98%" align="center">
        <br>
        <table mat-table [dataSource]="dataSourceConsulation" class="record" id="tableConsulation" style="width: 100%;">

          <!-- ID Column -->
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef style="text-align: center"> Queue No. </th>
            <td mat-cell *matCellDef="let rows">{{rows.queueNumber}} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="patientName">
            <th mat-header-cell *matHeaderCellDef style="text-align: center"> Patient Name </th>
            <td mat-cell *matCellDef="let rows">{{rows.customerName}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="mobile">
            <th mat-header-cell *matHeaderCellDef style="text-align: center"> Mobile </th>
            <td mat-cell *matCellDef="let rows">{{rows.customerContactNo}} </td>
          </ng-container>

          <!-- Color Column -->
          <ng-container matColumnDef="btnEdit">
            <th mat-header-cell *matHeaderCellDef style="text-align: center"> Action </th>
            <td mat-cell *matCellDef="let rows">
<!--              <button type="button" class="btn-primary" (click)="queue(rows.branchId, rows.customerId, rows.status, rows.customerName)">Queue </button>&nbsp;-->
              <button type="button" class="btn-primary" (click)="medicalPayment(rows.branchId, rows.customerId, rows.status, rows.customerName)">Medical & Payment </button>&nbsp;
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedInfo"></tr>
          <tr mat-row *matRowDef="let rows; columns: displayedInfo;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]='true'>
    <mat-expansion-panel-header style="background-color: #416F97;">
      <mat-panel-title style="color: white;">
        Medication & Payment
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <br>
    <div>
      <div style="width:98%" align="center">
        <br>
        <table mat-table [dataSource]="dataSourceMedicalPayment" class="record" id="tableMedicalPayment" style="width: 100%;">

          <!-- ID Column -->
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef style="text-align: center"> Queue No. </th>
            <td mat-cell *matCellDef="let rows">{{rows.queueNumber}} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="patientName">
            <th mat-header-cell *matHeaderCellDef style="text-align: center"> Patient Name </th>
            <td mat-cell *matCellDef="let rows">{{rows.customerName}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="mobile">
            <th mat-header-cell *matHeaderCellDef style="text-align: center"> Mobile </th>
            <td mat-cell *matCellDef="let rows">{{rows.customerContactNo}} </td>
          </ng-container>

          <!-- Color Column -->
          <ng-container matColumnDef="btnEdit">
            <th mat-header-cell *matHeaderCellDef style="text-align: center"> Action </th>
            <td mat-cell *matCellDef="let rows">
<!--              <button type="button" class="btn-primary" (click)="consult(rows.branchId, rows.customerId, rows.status, rows.customerName)">Consult </button>&nbsp;-->
              <button type="button" class="btn-primary" (click)="completed(rows.branchId, rows.customerId, rows.status, rows.customerName)">Completed </button>&nbsp;
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedInfo"></tr>
          <tr mat-row *matRowDef="let rows; columns: displayedInfo;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
