<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Smart Search</a>
    <ng-template ngbNavContent>
      <div class="form-group row">
        <div class="col-sm">
<!--          <label class="col-sm-2 form-control-label" style="text-align: center">Postal Code</label>-->
<!--          <label class="col-sm-1 form-control-label" style="text-align: center"> : </label>-->
<!--          <input type="text" class="col-sm-3 form-control-label" name="pCode" id="field_pCode" [(ngModel)]="pCode" disabled/>-->
<!--          &nbsp;-->
          <button type="button" class="btn-primary" style="min-width: 100px; max-width: 100px" (click)="searchGP()">
            GP Search
          </button>
        </div>
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Smart Filter Search</a>
    <ng-template ngbNavContent>
      <div class="form-group row">
        <div class="col-sm">
          * Please select one of the search criteria.
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2" style="max-width: 150px">
          <label class="form-control-label" style="text-align: right">District<span
            style="color: red; font-weight: bold;">* </span></label>
          <label class="form-control-label" style="text-align: center">:</label>
        </div>
        <div class="col-sm-2">
          <select class="form-control optionPlaceholder" style="max-width: 200px" [(ngModel)]="district" name="district" *ngIf="districtList">
            <option [ngValue]="undefined" hidden><span class="optionPlaceholder">Please Select</span></option>
            <!--                <option [ngValue]="null"></option>-->
            <option [ngValue]="rows.id" *ngFor="let rows of districtList">{{rows.value}}</option>
          </select>
        </div>

        <div class="col-sm-2" style="max-width: 150px">
          <label class="form-control-label" style="text-align: right">Medical Group<span
            style="color: red; font-weight: bold;">* </span></label>
          <label class="form-control-label" style="text-align: center">:</label>
        </div>
        <div class="col-sm-2">
          <select class="form-control optionPlaceholder" style="max-width: 200px" [(ngModel)]="mGroup" name="clinic" *ngIf="mGroupList">
            <option [ngValue]="undefined" hidden><span class="optionPlaceholder">Please Select</span></option>
            <!--                <option [ngValue]="null"></option>-->
            <option [ngValue]="rows.id" *ngFor="let rows of mGroupList">{{rows.value}}</option>
          </select>
        </div>
        &nbsp;
        <button type="button" class="btn-primary" style="min-width: 100px; max-width: 100px" (click)="searchFilter()">
          GP Search
        </button>
      </div>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
<pre>
<!--  Active: {{ active }}-->
  <div id="map"></div>
</pre>
