<h3 class="masthead title" style="display:block;"><b><strong>Welcome to eQueue </strong></b></h3>
<br>
<!--<mat-drawer-container class="example-container" autosize>-->
<!--  <mat-drawer #drawer class="example-sidenav" mode="side">-->
<!--    <div *ngIf="login.job===null || login.job === undefined || login.job === ''">-->
<!--      <div class="row-cols-3">-->
<!--        <a routerLink="/smart-search-member" routerLinkActive="active">Home</a>-->
<!--      </div>-->
<!--      <div class="row-cols-3">-->
<!--        <a routerLink="/patient-view-details" routerLinkActive="active">Current Registration</a>-->
<!--      </div>-->
<!--      <div class="row-cols-3">-->
<!--        <a routerLink="" routerLinkActive="active">Missed Queue</a>-->
<!--      </div>-->
<!--      <div class="row-cols-3">-->
<!--        <a routerLink="" routerLinkActive="active">Update Information</a>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div *ngIf="login.job==='S' || login.job==='D'">-->
<!--      <div class="row-cols-3">-->
<!--        <a routerLink="/patient-queue" routerLinkActive="active">View Queue</a>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div *ngIf="login.isAdmin==='Y'">-->
<!--      <div class="row-cols-3">-->
<!--        <a routerLink="/staff-info" routerLinkActive="active">Staff Information</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </mat-drawer>-->

<!--  <div class="example-sidenav-content">-->
<!--    <button type="button" mat-button class="btn-primary" style="height: 25px; width: 25px" (click)="drawer.toggle()" *ngIf="login.id!==null && login.id!==undefined && login.id!==''"><i class="pi pi-bars"></i></button>-->
<!--    <button type="button" mat-button class="btn-primary" style="height: 25px; width: 25px" (click)="drawer.toggle()"><i class="pi pi-bars"></i></button>-->
<!--    <div class="container">-->
      <div class="card" style="align-content: center; border-style: none ;">
        <router-outlet>
<!--          <button type="button" class="btn-primary refresh" style="min-width: 20px; min-height: 20px;" (click)="logout()" *ngIf="login.id!==null && login.id!==undefined && login.id!==''">Logout</button>&nbsp;-->

        </router-outlet>
      </div>
<!--    </div>-->
<!--  </div>-->

  <footer>
    <div class="footer doneBy"><b><strong>NUS-ISS Team 8</strong></b></div>
  </footer>
<!--</mat-drawer-container>-->



<!--<div class="ml-sm-auto ml-md-auto">-->
<!--  <ic-footer></ic-footer>-->
<!--</div>-->
