.masthead {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    background-color:rgb(38, 0, 255);
    padding: 50px;
    font-size: 38px;
}

.title{
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: aliceblue;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 15px;
    width: 100%;
    background-color:rgb(38, 0, 255);
    color: white;
    text-align: center;
}

.doneBy {
    color: white; 
    text-align:right;
}

.button-equeue {
    background-color: rgb(38, 0, 255);
    display: inline-block;
    text-align: center;
    min-height: 45px;
    min-width: 150px;
    border-radius: 40px;
    border: 1px solid pink;
    color: white;
    font-size: 0.87rem;
    text-transform: capitalize;
}

.button-bottomright {
    position: fixed;
    bottom: 10%;
    right: 20;
}

.button-bottomleft {
    position: fixed;
    bottom: 10%;
    left: 20;
}

.button-bottomcenter {
    position: fixed;
    bottom: 10%;
    text-align: center;
    margin-left: 40%;
    margin-right: 30%;
    float:left;
}

.table-equeue {
    display:table-column;
}

.container-equeue {
    width: 500px;
    clear: both;
}

.container-equeue input {
    width: 50%;
    clear: both;
}
