<div>
  <div style="width:98%" align="center">
    <div class="modal-body text-center">
      <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
      <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
      <div class="form-group row">
        <div class="col-sm-5">
          <label class="col-sm-2 form-control-label" style="text-align: center">Username</label>
          <label class="col-sm-1 form-control-label" style="text-align: center"> : </label>
          <input type="text" class="col-sm-3 form-control-label" name="username" id="field_username" [(ngModel)]="username"/>
        </div>
        <div class="col-sm-5">
          <label class="col-sm-2 form-control-label" style="text-align: center">Password</label>
          <label class="col-sm-1 form-control-label" style="text-align: center"> : </label>
          <input type="text" class="col-sm-3 form-control-label" name="password" id="field_password" [(ngModel)]="password"/>
        </div>
        <div class="col-sm-5">
          <button type="button" class="buttonLinks" (click)="forgot()">Forgot Username or Password?</button>
        </div>
        <div class="col-sm-5">
          <button type="button" class="btn-primary col-sm-1" (click)="clear()">Clear</button>&nbsp;
          <button type="button" class="btn-primary col-sm-1" (click)="loginFunction()">Login</button>
        </div>
        <div>
          <label class="col-sm-2 form-control-label" style="text-align: center">New to eQueue?</label>
        </div>
        <div>
          <div class="col-sm-5">
            <button type="button" class="btn-primary col-sm-1" (click)="signUp()">New Patient</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- POPUP MODAL CONFIRMATION FOR FORGOT. -->
<ng-template #forgotModal>
  <div class="modal-body text-center">
    <div class="col-sm-5">
      <label class="col-sm-2 form-control-label" style="text-align: center">Mobile No</label>
      <label class="col-sm-1 form-control-label" style="text-align: center"> : </label>
      <input type="text" class="col-sm-3 form-control-label" name="username" id="field_mobile" [(ngModel)]="mobile"/>
    </div>
    <div class="col-sm-5">
      <button type="button" class="btn-primary col-sm-1" (click)="cancel()">Cancel</button>&nbsp;
      <button type="button" class="btn-primary col-sm-1" (click)="forgotPassword()">Submit</button>
    </div>
  </div>
</ng-template>
