<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div *ngIf="login.job==='N' || login.job==='D'">
      <div class="row-cols-3">
        <a routerLink="/patient-queue" routerLinkActive="active">View Patient Queue</a>
      </div>
    </div>
    <div *ngIf="login.isAdmin==='Y'">
      <div class="row-cols-3">
        <a routerLink="/staff-info" routerLinkActive="active">Staff Information List</a>
      </div>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
  <button type="button" mat-button class="btn-primary" style="height: 25px; width: 25px" (click)="drawer.toggle()" *ngIf="login.id!==null && login.id!==undefined && login.id!==''"><i class="pi pi-bars"></i></button>
  <div class="container" style="padding-bottom: 50px">
    <button type="button" class="btn-primary refresh" style="min-width: 20px; min-height: 20px;" (click)="logout()" *ngIf="login.id!==null && login.id!==undefined && login.id!==''">Logout</button>&nbsp;
    
    <!-- <div style="width:98%" align="center"> -->
<!--    <div class="card" style="align-content: center; border-style: none ;">-->
<!--      <mat-expansion-panel [expanded]='true'>-->
<!--        <mat-expansion-panel-header style="background-color: #416F97;">-->
<!--          <mat-panel-title style="color: white;">-->
<!--            Staff Information-->
<!--          </mat-panel-title>-->
<!--          <mat-panel-description>-->
<!--          </mat-panel-description>-->
<!--        </mat-expansion-panel-header>-->
<!--        <br>-->
<!--        -->
<!--      </mat-expansion-panel>-->
      <h3 class="font-bold pl-0 my-4" ><strong>Staff Information</strong></h3>
      <div align="right">
<!--        <button type="button" class="btn-primary" style="min-width: 25px; min-height: 25px;" [routerLink]="['/registration-staff']"><i class="pi pi-user-plus"></i></button>-->
        <button type="button" class="btn-primary" style="min-width: 25px; min-height: 25px;" (click)="getListOfStaff()"><i class="pi pi-refresh"></i></button>&nbsp;
      </div>
      <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
      <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
      <br>
      <table mat-table [dataSource]="dataSource" class="record" id="table" style="width: 100%;">

        <!-- ID Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef style="text-align: center"> Name </th>
          <td mat-cell *matCellDef="let rows">{{rows.name}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="branchName">
          <th mat-header-cell *matHeaderCellDef style="text-align: center"> Branch </th>
          <td mat-cell *matCellDef="let rows">{{branchMap.get(rows.branchId)}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="clinic">
          <th mat-header-cell *matHeaderCellDef style="text-align: center"> Clinic </th>
          <td mat-cell *matCellDef="let rows">{{clinicMap.get(rows.clinicId)}} </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="mobileNo">
          <th mat-header-cell *matHeaderCellDef style="text-align: center"> Mobile No </th>
          <td mat-cell *matCellDef="let rows">{{rows.contactNo}} </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="occupation">
          <th mat-header-cell *matHeaderCellDef style="text-align: center"> Occupation </th>
          <td mat-cell *matCellDef="let rows"> {{occupationMap.get(rows.job)}} </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="btnEdit">
          <th mat-header-cell *matHeaderCellDef style="text-align: center"> Action </th>
          <td mat-cell *matCellDef="let rows">
            <button type="button" class="buttonLinks" *ngIf="rows.status!=='I'" (click)="editStaff(rows)">Edit </button>&nbsp;
            <button type="button" class="buttonLinks" *ngIf="rows.status==='A'" (click)="removeConfirmation(rows.id, rows.name)"> Remove</button>
            <button type="button" class="buttonLinks" *ngIf="rows.status==='P'" (click)="accConfirmation(rows.id, rows.name)"> Accept</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let rows; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
<!--    </div>-->
  </div>
</div>
</mat-drawer-container>

<!-- POPUP MODAL CONFIRMATION FOR DELETION OF RECORD. -->
<ng-template #deleteConfirmation>
  <div class="modal-body text-center">
    <p>Confirm remove staff {{staffName}}?</p>
    <button type="button" class="button-equeue" (click)="confirmDelete()" >Yes</button>&nbsp;
    <button type="button" class="button-equeue" (click)="decline()" >No</button>
  </div>
</ng-template>

<!-- POPUP MODAL CONFIRMATION FOR ACCEPT OF RECORD. -->
<ng-template #acceptConfirmation>
  <div class="modal-body text-center">
    <p>Confirm accept staff {{staffName}}?</p>
    <button type="button" class="button-equeue" (click)="confirmAccept()" >Yes</button>&nbsp;
    <button type="button" class="button-equeue" (click)="declineAccept()" >No</button>
  </div>
</ng-template>

<!-- POPUP MODAL EDIT STAFF RECORD. -->
<ng-template #editStaffRecord>
  <div class="modal-body text-center">
    <h3 class="font-bold pl-0 my-4" ><strong>Update Staff Information</strong></h3>
    <div class="text-center">
      <form>
        <div *ngIf="name.invalid && (name.dirty || name.touched)"
        class="alert alert-danger">

            <div *ngIf="name.errors.required">
                Full Name is required.
            </div>           
            <div *ngIf="name.errors.pattern">
                Full Name cannot contain invalid characters.
            </div>
        </div>
        <div *ngIf="contactNo.invalid && (contactNo.dirty || contactNo.touched)"
        class="alert alert-danger">
            <div *ngIf="contactNo.errors.required">
                Contact No is required.
            </div>           
            <div *ngIf="contactNo.errors.pattern">
                Only numeric numbers are allowed for Contact No. 
            </div>
            <div *ngIf="contactNo.errors.minlength || contactNo.errors.maxlength">
                Contact No has a minlength of 8.
            </div> 
        </div>
        <div *ngIf="addr.invalid && (addr.dirty || addr.touched)"
            class="alert alert-danger">           
            <div *ngIf="addr.errors.pattern">
            Address cannot contain invalid characters.
            </div>         
        </div>
        <div *ngIf="emailh.invalid && (emailh.dirty || emailh.touched)"
                class="alert alert-danger">                  
            <div *ngIf="emailh.errors.pattern">
                Email cannot contain invalid characters.
            </div>
            <div *ngIf="emailh.errors.required">
                Email is required.
            </div>
        </div>

        <div class="form-group row">
          <div class="col-sm">
            <label class="col-sm-4 form-control-label" style="text-align: left">Full Name: <span class="red-asterisk">*</span></label>
            <input type="text" class="col-sm-4 form-control-label" name="fName" id="field_fName" [(ngModel)]="fName" #name = "ngModel" class="uppercase" pattern="^[a-zA-Z0-9-/]*$" minlength="1"  maxlength="66" autofocus autocomplete="off" required/>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm">
            <label class="col-sm-4 form-control-label" style="text-align: left">Contact No: <span class="red-asterisk">*</span></label>
            <input type="text" class="form-control-label" name="cNo" id="field_cNo" [(ngModel)]="cNo"  #contactNo="ngModel" class="uppercase" pattern="^[0-9]*$" minlength="8" maxlength="8" autofocus autocomplete="off" required />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm">
            <label class="col-sm-4 form-control-label" style="text-align: left">Address <span class="red-asterisk">*</span></label>
            <input type="text" class="form-control-label" name="address" id="field_address" [(ngModel)]="address" #addr="ngModel" class="uppercase" pattern="^[a-zA-Z0-9-/]*$" minlength="1" maxlength="99" autofocus autocomplete="off" required/>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm">
            <label class="col-sm-4 form-control-label" style="text-align: left">Email <span class="red-asterisk">*</span></label>
            <input type="text" class="form-control-label" name="emailh" id="field_email" [(ngModel)]="email" #emailh="ngModel" class="uppercase" pattern="^[a-zA-Z0-9-@.]*$" minlength="1" maxlength="66" autofocus autocomplete="off" required/>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm">
            <label class="col-sm-4 form-control-label" style="text-align: left">Occupation <span class="red-asterisk">*</span></label>
            <select class="col-sm-4 form-control-label optionPlaceholder" style="min-width: 150px; max-width: 150px; min-height: 30px;" id="field_occupation" name="occupation" [(ngModel)]="occupation" >
              <option [ngValue]="undefined" hidden>Please Select</option>
              <!--                    <option [ngValue]="null"></option>-->
              <option [ngValue]="rows.id" *ngFor="let rows of occupationList">{{rows.value}}</option>
            </select>
            <div *ngIf="occupationError">
              <span class="red-error">Required field!</span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm">
            <label class="col-sm-4 form-control-label" style="text-align: left">Clinic <span class="red-asterisk">*</span></label>
            <select class="col-sm-4 form-control-label optionPlaceholder" style="min-width: 150px; max-width: 150px; min-height: 30px;" id="field_clinic" name="clinic" [(ngModel)]="clinic" (change)="listOfBranchesWithClinicId(clinic)">
              <option [ngValue]="undefined" hidden>Please Select</option>
              <!--                    <option [ngValue]="null"></option>-->
              <option [ngValue]="rows.id" *ngFor="let rows of clinicList">{{rows.name}}</option>
            </select>
            <div *ngIf="clinicError">
              <span class="red-error">Required field!</span>
            </div>
          </div>
        </div>
          <ng-template [ngIf]="hide">
            <div class="form-group row">
              <div class="col-sm">
                <label class="col-sm-4 form-control-label" style="text-align: left">Branch <span class="red-asterisk">*</span></label>
                <select class="col-sm-4 form-control-label optionPlaceholder" style="min-width: 150px; max-width: 150px; min-height: 30px;" id="field_branch" name="branch" [(ngModel)]="branch">
                  <option [ngValue]="undefined" hidden>Please Select</option>
                  <!--                    <option [ngValue]="null"></option>-->
                  <option [ngValue]="rows.id" *ngFor="let rows of branchListEdit">{{rows.name}}</option>
                </select>
                <div *ngIf="branchError">
                  <span class="red-error">Required field!</span>
                </div>
              </div>
            </div>
          </ng-template>
       </form>
    </div>
    <button type="button" class="button-equeue" (click)="cancel()" >Cancel</button>&nbsp;
<!--    <button type="button" class="btn-ipStyle2" (click)="clear()" >Clear</button>&nbsp;-->
    <button type="button" class="button-equeue" (click)="update()" >Update</button>
  </div>
</ng-template>
