<div class="modal-header">
    <h5 id="ic-test-mod-heading" class="pageName">Test Module</h5>
    <!-- <button type="button" class="close" aria-hidden="true">
        <fa-icon [icon]="'question-circle'"></fa-icon>
    </button> -->
</div>
<div class="modal-body">
  <div class="form-group row">
    <label class="col-sm-5 form-control-label" style="text-align: right">Test Post</label>
    <div class="col-sm-4">
      <label class="col-sm-1 form-control-label" style="text-align: center">Return Value</label>
      <label class="col-sm-1 form-control-label" style="text-align: center"> : </label>
      <input type="text" class="col-sm-1 form-control-label" name="post" id="field_post" [(ngModel)]="output" disabled/>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn-primary" (click)="testPost()">
        Submit
      </button>
    </div>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-sm-5 form-control-label" style="text-align: right">Test LISTOFCLINIC</label>
      <div class="col-sm-4">
        <label class="col-sm-1 form-control-label" style="text-align: center">Return Value</label>
        <label class="col-sm-1 form-control-label" style="text-align: center"> : </label>
        <input type="text" class="col-sm-1 form-control-label" name="post" id="field_post" [(ngModel)]="output" disabled/>
      </div>
      <div class="col-sm-4">
        <button type="button" class="btn-primary" (click)="testListOfClinic()">
          Submit
        </button>
      </div>
    </div>

  <div class="form-group row">
    <label class="col-sm-5 form-control-label" style="text-align: right">Test Delete</label>
    <div class="col-sm-4">
      <label class="col-sm-1 form-control-label" style="text-align: center">Return Value</label>
      <label class="col-sm-1 form-control-label" style="text-align: center"> : </label>
      <input type="text" class="col-sm-1 form-control-label" name="post" id="field_delete" [(ngModel)]="outputD" disabled/>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn-primary" (click)="testDelete()">
        Submit
      </button>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-5 form-control-label" style="text-align: right">Test Geo Code</label>
    <div class="col-sm-4">
      <label class="col-sm-1 form-control-label" style="text-align: center">Return Value</label>
      <label class="col-sm-1 form-control-label" style="text-align: center"> : </label>
      <input type="text" class="col-sm-1 form-control-label" name="post" id="field_delete" [(ngModel)]="outputD" disabled/>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn-primary" (click)="testGeoCode()">
        Submit
      </button>
    </div>
  </div>
<!--  <div>-->
<!--    <h1>{{ gTitle }}</h1>-->

<!--    &lt;!&ndash; this creates a google map on the page with the given lat/lng from &ndash;&gt;-->
<!--    &lt;!&ndash; the component as the initial center of the map: &ndash;&gt;-->
<!--    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" >-->
<!--      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>-->
<!--    </agm-map>-->
<!--  </div>-->

<!--  <div>-->
<!--    <h1>{{ olTitle }}</h1>-->
<!--    <map></map>-->
<!--    <div class="container">-->
<!--      <div class="row justify-content-center">-->
<!--        <show-button>Dim Map</show-button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div>-->
<!--    <h1>{{ olTitle }} 2</h1>-->
<!--    <app-ol-map class="map"-->
<!--                [center]="[lat,lng]"-->
<!--                [lat]="latitude"-->
<!--                [lng]="longitude"-->
<!--                [zoom]="3"-->
<!--                (mapReady)="onMapReady($event)"-->
<!--    ></app-ol-map>-->
<!--  </div>-->

  <div id="map"></div>
</div>
