<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div *ngIf="login.job==='N' || login.job==='D'">
      <div class="row-cols-3">
        <a routerLink="/patient-queue" routerLinkActive="active">View Patient Queue</a>
      </div>
    </div>
    <div *ngIf="login.isAdmin==='Y'">
      <div class="row-cols-3">
        <a routerLink="/staff-info" routerLinkActive="active">Staff Information List</a>
      </div>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button class="btn-primary" style="height: 25px; width: 25px" (click)="drawer.toggle()" *ngIf="login.id!==null && login.id!==undefined && login.id!==''"><i class="pi pi-bars"></i></button>
    <!--    <button type="button" mat-button class="btn-primary" style="height: 25px; width: 25px" (click)="drawer.toggle()"><i class="pi pi-bars"></i></button>-->
    <div class="container" style="padding-bottom: 50px">
      <button type="button" class="btn-primary refresh" style="min-width: 20px; min-height: 20px;" (click)="logout()" *ngIf="login.id!==null && login.id!==undefined && login.id!==''">Logout</button>&nbsp;
      <h3 class="font-bold pl-0 my-4" ><strong>Current Patient Queue</strong></h3>
      <div align="right">
        <button type="button" class="btn-primary" style="min-width: 25px; min-height: 25px;" (click)="getBranchQueue()"><i class="pi pi-refresh"></i></button>&nbsp;
      </div>
      <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
      <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
      <mat-accordion [multi]="true">
        <mat-expansion-panel [expanded]='true'>
          <mat-expansion-panel-header style="background-color: #416F97;">
            <mat-panel-title style="color: white;">
              Queue
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <br>
          <div>
            <div style="width:98%" align="center">
              <br>
              <table mat-table [dataSource]="dataSourceQueue" class="record" id="tableQueue" style="width: 100%;" >

                <!-- ID Column -->
                <ng-container matColumnDef="no">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center"> Queue No. </th>
                  <td mat-cell *matCellDef="let rows">{{rows.queueNumber}} </td>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="patientName">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center"> Patient Name </th>
                  <td mat-cell *matCellDef="let rows">{{rows.customerName}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="mobile">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center"> Mobile </th>
                  <td mat-cell *matCellDef="let rows">{{rows.customerContactNo}} </td>
                </ng-container>

                <!-- Color Column -->
                <ng-container matColumnDef="btnEdit">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center"> Action </th>
                  <td mat-cell *matCellDef="let rows">
                    <button type="button" class="button-equeue" (click)="consult(rows.branchId, rows.customerId, rows.status, rows.customerName)">Consult </button>&nbsp;
                    <button type="button" class="button-equeue" (click)="missedQueue(rows.branchId, rows.customerId, rows.status, rows.customerName)">Missed Queue </button>&nbsp;
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedInfo"></tr>
                <tr mat-row *matRowDef="let rows; columns: displayedInfo;"></tr>
              </table>

              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]='true'>
          <mat-expansion-panel-header style="background-color: #416F97;">
            <mat-panel-title style="color: white;">
              Missed Queue
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <br>
          <div>
            <div style="width:98%" align="center">
              <br>
              <table mat-table [dataSource]="dataSourceMissedQueue" class="record" id="tableMissedQueue" style="width: 100%;">

                <!-- ID Column -->
                <ng-container matColumnDef="no">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center"> Queue No. </th>
                  <td mat-cell *matCellDef="let rows">{{rows.queueNumber}} </td>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="patientName">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center"> Patient Name </th>
                  <td mat-cell *matCellDef="let rows">{{rows.customerName}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="mobile">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center"> Mobile </th>
                  <td mat-cell *matCellDef="let rows">{{rows.customerContactNo}} </td>
                </ng-container>

                <!-- Color Column -->
                <ng-container matColumnDef="btnEdit">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center"> Action </th>
                  <td mat-cell *matCellDef="let rows">
                    <button type="button" class="button-equeue" (click)="rejoinQueue(rows.branchId, rows.customerId, rows.status, rows.customerName)">Rejoin Queue </button>&nbsp;
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedInfo"></tr>
                <tr mat-row *matRowDef="let rows; columns: displayedInfo;"></tr>
              </table>

              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]='true'>
          <mat-expansion-panel-header style="background-color: #416F97;">
            <mat-panel-title style="color: white;">
              Consultation Room
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <br>
          <div>
            <div style="width:98%" align="center">
              <br>
              <table mat-table [dataSource]="dataSourceConsulation" class="record" id="tableConsulation" style="width: 100%;">

                <!-- ID Column -->
                <ng-container matColumnDef="no">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center"> Queue No. </th>
                  <td mat-cell *matCellDef="let rows">{{rows.queueNumber}} </td>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="patientName">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center"> Patient Name </th>
                  <td mat-cell *matCellDef="let rows">{{rows.customerName}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="mobile">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center"> Mobile </th>
                  <td mat-cell *matCellDef="let rows">{{rows.customerContactNo}} </td>
                </ng-container>

                <!-- Color Column -->
                <ng-container matColumnDef="btnEdit">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center"> Action </th>
                  <td mat-cell *matCellDef="let rows">
                    <!--              <button type="button" class="button-equeue" (click)="queue(rows.branchId, rows.customerId, rows.status, rows.customerName)">Queue </button>&nbsp;-->
                    <button type="button" class="button-equeue" (click)="medicalPayment(rows.branchId, rows.customerId, rows.status, rows.customerName)">Medical & Payment </button>&nbsp;
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedInfo"></tr>
                <tr mat-row *matRowDef="let rows; columns: displayedInfo;"></tr>
              </table>

              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]='true'>
          <mat-expansion-panel-header style="background-color: #416F97;">
            <mat-panel-title style="color: white;">
              Medication & Payment
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <br>
          <div>
            <div style="width:98%" align="center">
              <br>
              <table mat-table [dataSource]="dataSourceMedicalPayment" class="record" id="tableMedicalPayment" style="width: 100%;">

                <!-- ID Column -->
                <ng-container matColumnDef="no">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center"> Queue No. </th>
                  <td mat-cell *matCellDef="let rows">{{rows.queueNumber}} </td>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="patientName">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center"> Patient Name </th>
                  <td mat-cell *matCellDef="let rows">{{rows.customerName}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="mobile">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center"> Mobile </th>
                  <td mat-cell *matCellDef="let rows">{{rows.customerContactNo}} </td>
                </ng-container>

                <!-- Color Column -->
                <ng-container matColumnDef="btnEdit">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center"> Action </th>
                  <td mat-cell *matCellDef="let rows">
                    <!--              <button type="button" class="button-equeue" (click)="consult(rows.branchId, rows.customerId, rows.status, rows.customerName)">Consult </button>&nbsp;-->
                    <button type="button" class="button-equeue" (click)="completed(rows.branchId, rows.customerId, rows.status, rows.customerName)">Completed </button>&nbsp;
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedInfo"></tr>
                <tr mat-row *matRowDef="let rows; columns: displayedInfo;"></tr>
              </table>

              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</mat-drawer-container>


