
<h3 class="masthead title" style="display:block;"><b><strong>Welcome to eQueue </strong></b></h3>
<br>
<div class="container">
    <div class="card" style="align-content: center; border-style: none ;">
        <router-outlet>

        </router-outlet>
    </div>
</div>
    <!-- <footer>
        <div class="footer doneBy"><b><strong>NUS-ISS Team 8</strong></b></div>
    </footer> -->

<!--<div class="ml-sm-auto ml-md-auto">-->
<!--<ic-footer></ic-footer>-->
<!--</div>-->

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="row-cols-3">
      <a href="#">About</a>
    </div>
    <div class="row-cols-3">
      <a href="#">Services</a>
    </div>
    <div class="row-cols-3">
      <a href="#">Clients</a>
    </div>
    <div class="row-cols-3">
      <a href="#">Contact</a>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
    </button>
  </div>

</mat-drawer-container>
